body{
    font-family: 'Noto Serif JP', sans-serif;
    text-align: center;
}

.btn{
    width:auto;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    background-color: #2791d4;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid #2791d4;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    cursor:pointer;
}

.btn:hover {
    background-color: #fff;
    color: #2791d4;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}
.info01 {
animation-name: fadeIn;
animation-fill-mode:backwards;
animation-duration:3s;
animation-timing-function:ease;
animation-direction:normal;
font-weight: 600;
font-size: 30px;
}

/* フェードイン効果 */
@keyframes fadeIn{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.result{
    animation-delay: 1.5s;
}
#result{
  font-size:30px;
  width:300px;
}

#back{
    width: 300px;
}

p{
  font-size:25px;
}

h1{
  font-size:50px;
}

table {
    border-collapse: collapse;
    /* width: 100%; */
    margin: auto;
}

table th{
  font-size:25px;
}

table td {
    border: solid 1px #cecece;
    padding: 10px 15px;
    width: 300px;
    font-size:20px;
}
