@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

/************************************
** CSSでタブ表示
************************************/

h1{
    font-size: 50px;
    /* text-align: center;  */
    /*padding-left: 150px;  */
}

.error{
  color:#ff0000;
}

.another_link{
  font-size: 20px;
  padding-left: 450px;
}

	table {
border-collapse: collapse;
width: 100%;
}
table th ,
table td {
border: solid 1px #cecece;
padding: 10px 15px;
}
table th {
text-align: left;
background-color: #f9f9f9;
z-index: -1;
max-width: 30%;
}

body{
  font-size: 30px;
  font-family: 'Noto Serif JP', sans-serif;
}

.marriageinfo{
    margin-left: auto;
    margin-right: auto;
}

.marriage_icon{
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
}

.impchara{
  text-align: center;
}

.button_conclude{
  text-align: center;
}

input[type="text"], input[type="number"] {
   width: 200px;
   height: 30px;
   font-size: 20px;
}

input[type="checkbox"], input[type="radio"] {
  width: 2em;
  height: 2em;
}

.back, .next{
  text-align: center;
  width: 200px;
  height: 40px;
  font-size: 25px;
}

/* タブの外枠 */
.tabs {
    margin-top: 12px;
}

.selectbox select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */

  /* display: block; */
  width: 300px;
  /* max-width: 320px; */
  height: 30px;
  /* float: right; */
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 20px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

select::-ms-expand {
  display: none;
  }

.selectdiv:after {
  content: '<>';
  font: 50px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/

  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */

  position: absolute;
  pointer-events: none;
}

/* .selectbox{
 font-size: 60px;
} */

  /* タブのスタイル */
  .tabs .tab-label {
    display: inline-block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    /* border: 1px solid #999; */
    background-color: #f3f3f3;
    margin-left: 1px;
    margin-right: 1px;
    padding: 3px 6px;
    border-bottom: none;
    /* font-size: 60px; */

  }

  /* タブにマウスカーソルがのったときフッター */
  .tabs .tab-label:hover {
    opacity: 0.7;
  }

  /* ラジオボタンと内容を非表示 */
  .tabs input[name="tab-radio"],
  .tabs .tab-content {
    display: none;
  }

  .tab-content{
    border: 0px none;
    width: 1100px;
    text-align: left;
    /* font-size: 50px; */
  }

  /* タブ内容のスタイル */
  .tabs .tab-content{
    padding: 10px;
    min-height: 200px;
  }

  /* 選択されているタブのコンテンツのみを表示 */
  .tabs #tab-1:checked ~ .tab-1-content,
  .tabs #tab-2:checked ~ .tab-2-content,
  .tabs #tab-3:checked ~ .tab-3-content,
  .tabs #tab-4:checked ~ .tab-4-content,
  .tabs #tab-5:checked ~ .tab-5-content,
  .tabs #tab-6:checked ~ .tab-6-content {
    display: block;
  }

  /* 選択されているタブのスタイルを変える */
  .tabs input[name="tab-radio"]:checked + .tab-label {
    background-color: #fff;
  }

    /* CSSアニメーションの指定 */
    th,td,dt{
    animation: SlideIn 1.6s;
  }

  /* CSSアニメーションの設定 */
  @keyframes SlideIn {
    0% {
      opacity: 0;/*初期状態では透明に*/
      transform: translateX(64px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  input[name=marriage_icon]+label:before{
      content: "";
      display: inline-block;
      background-size: contain;
      width: 120px;
      height: 120px;
  }
  .selectIcon1[type=radio][value="1"]+label:before{
      background-image: url(icon/1.png);
  }
  .selectIcon2[type=radio][value="2"]+label:before{
      background-image: url(icon/2.png);
  }
  .selectIcon3[type=radio][value="3"]+label:before{
      background-image: url(icon/3.png);
  }
  .selectIcon4[type=radio][value="4"]+label:before{
      background-image: url(icon/4.png);
  }
  .selectIcon5[type=radio][value="5"]+label:before{
      background-image: url(icon/5.png);
  }
  .selectIcon6[type=radio][value="6"]+label:before{
      background-image: url(icon/6.png);
  }
  .selectIcon7[type=radio][value="7"]+label:before{
      background-image: url(icon/7.png);
  }
  .selectIcon8[type=radio][value="8"]+label:before{
      background-image: url(icon/8.png);
  }
  input[name=marriage_icon]:checked+label::before{
      border: 3px solid #f70000;
      box-sizing: border-box;
  }
  input[name=marriage_icon]{
      display: none;
  }

  .fadeIn {
  animation-name: fadeIn;
  animation-fill-mode:backwards;
  animation-duration:2s;
  animation-timing-function:ease;
  animation-direction:normal;
  }

  /*1で解説*/
  @keyframes fadeIn{
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .title1{
      animation-delay: 0.3s;
  }
  .title2{
      animation-delay: 1.5s;
  }
  .title3{
      animation-delay: 3.0s;
  }

  .form{
    color:blue;
  }
